*{
  padding:0;
  margin:0;
  border:0;
  box-sizing: content-box;
  font-family: 'Assistant', sans-serif;
}

:root {
  --header-bg-color: dimgray;
  --main-font-color: white;
}


body {
  background-color: bisque;
}
.modal{
  visibility: hidden;
  position:absolute;
  background-color: firebrick;
  width: 100vw;
  height: 100vh;
}
.hello {
    color: red;
}
.navul{
  list-style-type: none;
  background-color: var(--header-bg-color);
  color: var(--main-font-color);
  height: 50px;
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
}

footer {
  display: flex;
  height: 10%;
  border: 1px solid #333;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--header-bg-color);
  color: var(--main-font-color);
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.showslist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.movietitle{
  min-height: 80px;
}
.moviecard{
  flex: 1 1 0%;
  min-width: 200px;
  padding:30px;
}
.commentsandreservations{
  display: flex;
  flex-direction: column;
}
.movieimage{
  width: 100%;
}
button{
  padding:5px;
  border-radius: none;
}

.modal-pop-up {
  width: 100vw;
  height: 90vh;
  background-color: #1c1a195b;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: 0.25s ease-in-out;
}

.modal-pop-up.active {
  transform: scale(1);
}

.cont-pop-up {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
  width: 70%;
  padding-bottom: 10%;
  margin: 2% auto 10% auto;
  max-height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

.close-button {
  position: absolute;
  right: 0;
  display: block;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color:black;
  font-size: 5rem;
  font-weight: bold;
  margin: 3%;
  margin-top: 0;
}

.modal-pop-img {
  position: relative;
  top: 5%;
  width: 50%;
}

.movie-title {
  text-align: center;
  margin-top: 4%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
  width: 50%;
  font-style: bold;
  font-size: 20px;
}

.modal-pop-up h4 {
  text-align: center;
}

.comment-form {
  margin: 0 35%;
}

.username {
  width: 250px;
  border: 1px solid;
  padding: 2%;
  margin: 4% 0;
}

.insight {
  width: 250px;
  border: 1px solid;
  height: 50px;
  padding: 2%;
  margin: 4% 0;
}

.comment-list {
  list-style-type: none;
}